.carousel-wrapper {
    margin-top: 59px;
    position: relative;
    .swiper-container {
        .swiper-button-prev,
        .swiper-button-next {
            color: rgba(124, 122, 122, 0.5);
        }
        .swiper-pagination {
            .swiper-pagination-bullet {
                background-color: white;
                width: 12px;
                height: 12px;
                opacity: 0.8;
                &:focus {
                    outline: none;
                }
            }
            .swiper-pagination-bullet-active {
                background-color: rgb(226, 42, 42);
            }
        }
        .swiper-pagination-bullets {
            bottom: 15%;
        }
        .swiper-wrapper {
            .swiper-slide {
                height: unset;
                .carousel-play {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                    transition: all 0.5s;
                    opacity: 0;
                }
                .carousel-images {
                    height: 100%;
                    width: 100%;
                    box-sizing: border-box;
                    display: block;
                }
            }
        }
        &:hover {
            .swiper-wrapper {
                .swiper-slide {
                    .carousel-play {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .carousel-img {
        position: absolute;
        bottom: -7px;
        z-index: 5;
        img {
            width: 100%;
        }
    }
}

@media (max-width: 578px) {
    .carousel-wrapper {
        .swiper-container {
            display: none;
        }
    }
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    display: none !important;
}
